.inventory_main{
  margin-bottom: 50px;
  background-color: rgb(247, 247, 247);
  /* width: 100%; */
}
.inventory_section{
  margin-top: 120px;
}
.inventory_section p{
  color: gray;
  letter-spacing: 3px;
  text-align: center;
}
.inventory_section h1{
  text-align: center;
  font-weight: 700;

}
.btn_group{
  margin-top: 40px;
}
.btn_group button{
  margin: 10px;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 12px;
  color: rgb(97, 96, 96);
  font-weight: 700;
}
.btn_group button:hover{
  background-color: rgb(255, 84, 0);
  color: white;
}
button.seller_btn{
  background-color: rgb(255, 84, 0);
  color: white;
}


/* card */
.inventory_card{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-gap: 10px; */
  margin-top: 50px;
  grid-row-gap: 30px;
}
.card{
  padding: 20px;
  width: 80%;
  box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
  background-color: white;
}
.car_img{
  /* display: flex; */
}
.name_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name{
}
.name h2{
  font-size: 20px;
  font-weight: 700;
}
.price{

}
.price h3{
  font-size: 23px;
  background-color: rgb(255, 84, 0);
  color: white;
  padding: 6px 20px;
  /* border-radius: 5px; */
}
.line{
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  /* margin-top: 0px; */
}
.first_line{
  width: 60px;
  height: 6px;
  background-color: rgb(255, 84, 0);
  color: black;
}
.second_line{
  width: 20px;
  height: 6px;
  background-color: rgb(255, 84, 0);
  color: black;
  margin-left: 5px;
}
.build_year{
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.build_year p{
  color: rgb(141, 140, 140);
  font-family: sans-serif;
  font-weight: 700;
}
.build_year span{
  color: rgb(73, 72, 72);
}
.dotted_border{
  margin-top: 20px;
  border-bottom: 1px dotted gray;
}
.description p{
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  margin-top: 5px;
}
.dotted_border_des{
  border-bottom: 1px dotted gray;
  margin-bottom: 15px;
}
.manage_section{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.supplier{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.supplier_name h5{
  font-size: 17px;
  background-color: rgb(37, 32, 30);
  color: white;
  padding: 5px 12px; 
}
.update button{
  font-size: 17px;
  background-color: rgb(255, 84, 0);
  color: white;
  padding: 5px 12px;  
  border: none;
  font-weight: 500;
}

.quantity p{
  color: white;
  background-color: rgb(41, 34, 30);
  padding: 4px 10px;
  font-weight: 500;
}

.automatic p{
  color: rgb(255, 84, 0);
}
.automatic span{
  color: gray;
}
.speed p{
  color: rgb(255, 84, 0);
}
.speed span{
  color: gray;
  margin-left: 4px;
}
.manage_inventory h2{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 32px;
  color: rgb(255, 84, 0);
}

/* Responsive */
@media only screen and (max-width: 1440px){

  .inventory_section p{
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
  }
  .inventory_section h1{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
  .btn_group button{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .inventory_card{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
  }
  .card{
    padding: 20px;
    width: 95%;
    box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
    background-color: white;
  }
  .name h2{
    font-size: 20px;
    font-weight: 700;
  }
  .price h3{
    font-size: 23px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 6px 20px;
    /* border-radius: 5px; */
  }
  .first_line{
    width: 60px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
  }
  .second_line{
    width: 20px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
    margin-left: 5px;
  }
  .description p{
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
  }
  .manage_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .supplier{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplier_name h5{
    font-size: 17px;
    background-color: rgb(37, 32, 30);
    color: white;
    padding: 5px 12px; 
  }
  .update button{
    font-size: 17px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 5px 12px;  
    border: none;
    font-weight: 500;
  }
  
  .quantity p{
    color: white;
    background-color: rgb(41, 34, 30);
    padding: 4px 10px;
    font-weight: 500;
  }
  
  .speed span{
    color: gray;
    margin-left: 4px;
  }

}
@media only screen and (max-width: 1024px){

  .inventory_section p{
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
  }
  .inventory_section h1{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
  }
  .btn_group button{
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
  }
  .inventory_card{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
  }
  .card{
    padding: 20px;
    width: 95%;
    box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
    background-color: white;
  }
  .name h2{
    font-size: 20px;
    font-weight: 700;
  }
  .price h3{
    font-size: 23px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 6px 20px;
    /* border-radius: 5px; */
  }
  .first_line{
    width: 60px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
  }
  .second_line{
    width: 20px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
    margin-left: 5px;
  }
  .description p{
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
  }
  .manage_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .supplier{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplier_name h5{
    font-size: 17px;
    background-color: rgb(37, 32, 30);
    color: white;
    padding: 5px 12px; 
  }
  .update button{
    font-size: 17px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 5px 12px;  
    border: none;
    font-weight: 500;
  }
  
  .quantity p{
    color: white;
    background-color: rgb(41, 34, 30);
    padding: 4px 10px;
    font-weight: 500;
  }
  
  .speed span{
    color: gray;
    margin-left: 4px;
  }
}
@media only screen and (max-width: 768px){

  .inventory_section p{
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
  }
  .inventory_section h1{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
  }
  .btn_group button{
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
  }
  .inventory_card{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
  }
  .card{
    padding: 20px;
    width: 85%;
    box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
    background-color: white;
  }
  .car_img{
    overflow: hidden;
  }
  .name h2{
    font-size: 17px;
    font-weight: 700;
  }
  .price h3{
    font-size: 20px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 6px 20px;
    /* border-radius: 5px; */
  }
  .first_line{
    width: 60px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
  }
  .second_line{
    width: 20px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
    margin-left: 5px;
  }
  .description p{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
  }
  .manage_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .supplier{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplier_name h5{
    font-size: 15px;
    background-color: rgb(37, 32, 30);
    color: white;
    padding: 5px 12px; 
  }
  .update button{
    font-size: 17px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 5px 12px;  
    border: none;
    font-weight: 500;
  }
  
  .quantity p{
    color: white;
    background-color: rgb(41, 34, 30);
    padding: 3px 8px;
    font-weight: 500;
  }
  
  .speed span{
    color: gray;
    margin-left: 4px;
  }
}
@media only screen and (max-width: 425px){

  .inventory_section p{
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
  }
  .inventory_section h1{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
  }
  .btn_group button{
    margin: 5px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 10px;
  }
  .inventory_card{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
  }
  .card{
    padding: 20px;
    width: 95%;
    box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
    background-color: white;
  }
  .car_img{
    overflow: hidden;
  }
  .name h2{
    font-size: 15px;
    font-weight: 700;
  }
  .price h3{
    font-size: 18px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 6px 20px;
    /* border-radius: 5px; */
  }
  .first_line{
    width: 60px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
  }
  .second_line{
    width: 20px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
    margin-left: 5px;
  }
  .description p{
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
  }
  .manage_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .supplier{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplier_name h5{
    font-size: 14px;
    background-color: rgb(37, 32, 30);
    color: white;
    padding: 5px 12px; 
  }
  .update button{
    font-size: 16px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 5px 12px;  
    border: none;
    font-weight: 500;
  }
  
  .quantity p{
    color: white;
    background-color: rgb(41, 34, 30);
    padding: 2px 6px;
    font-weight: 500;
  }
  
  .speed span{
    color: gray;
    margin-left: 4px;
  }
}
@media only screen and (max-width: 375px){

  .inventory_section p{
    color: gray;
    letter-spacing: 2px;
    text-align: center;
    font-size: 14px;
  }
  .inventory_section h1{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
  }
  .btn_group button{
    margin: 5px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 10px;
  }
  .inventory_card{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
  }
  .card{
    padding: 20px;
    width: 80%;
    box-shadow: 1px 1px 5px 2px rgb(231, 229, 227);
    background-color: white;
  }
  .car_img{
    overflow: hidden;
  }
  .name h2{
    font-size: 14px;
    font-weight: 700;
  }
  .price h3{
    font-size: 17px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 6px 20px;
    /* border-radius: 5px; */
  }
  .first_line{
    width: 60px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
  }
  .second_line{
    width: 20px;
    height: 6px;
    background-color: rgb(255, 84, 0);
    color: black;
    margin-left: 5px;
  }
  .description p{
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
    color: gray;
    margin-top: 5px;
  }
  .manage_section{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .supplier{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .supplier_name h5{
    font-size: 14px;
    background-color: rgb(37, 32, 30);
    color: white;
    padding: 5px 12px; 
  }
  .update button{
    font-size: 16px;
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 5px 12px;  
    border: none;
    font-weight: 500;
  }
  
  .quantity p{
    color: white;
    background-color: rgb(41, 34, 30);
    padding: 2px 6px;
    font-weight: 500;
  }
  
  .speed span{
    color: gray;
    margin-left: 4px;
  }
}