
.car_model{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  /* background-color: rgb(247, 247, 247); */

}
p.category{
  font-size: 15px;
  letter-spacing: 5px;
  text-align: center;

}
.car_model h1{
  font-weight: 700;
  font-size: 40px;
  color: rgb(255, 84, 0);
  text-align: center;
}
.car_section p{
  font-size: 17px;
}
.line{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 15px;
}
.firstLine{
  width: 60px;
  height: 6px;
  background-color: rgb(129, 106, 94);
  color: black;
}
.secondLine{
  width: 20px;
  height: 6px;
  background-color: rgb(129, 106, 94);
  color: black;
  margin-left: 5px;
}
.car_section{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-top: 100px;
}
.car_section img{
  margin-bottom: 12px;
}
/* Responsive */


@media only screen and (max-width: 1440px){
  p.category{
    font-size: 20px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 32px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 100px;
    grid-gap: 40px 80px;
  }
  .car_section img{
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 1024px){
  p.category{
    font-size: 20px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 32px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    grid-gap: 40px 80px;
  }
  .car_section img{
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px){
  p.category{
    font-size: 20px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 32px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    grid-gap: 40px 80px;
  }
  .car_section p{
    font-size: 17px;
  }
  .car_section img{
    margin-bottom: 12px;
    width: 160px;
  }
}
@media only screen and (max-width: 425px){
  p.category{
    font-size: 18px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 25px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    grid-gap: 40px 40px;
  }
  .car_section p{
    font-size: 20px;
  }
  .car_section img{
    margin-bottom: 12px;
    width: 100px;
  }
}
@media only screen and (max-width: 375px){
  p.category{
    font-size: 18px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 25px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    grid-gap: 40px 50px;
  }
  .car_section p{
    font-size: 20px;
  }
  .car_section img{
    margin-bottom: 12px;
    width: 120px;
  }
}
@media only screen and (max-width: 320px){
  p.category{
    font-size: 17px;
    letter-spacing: 3px;
  }
  .car_model h1{
    font-size: 22px;
    color: rgb(255, 84, 0);
  }
  .car_section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 100px;
  }
  .car_section p{
    font-size: 25px;
  }
  .car_section img{
    margin-bottom: 12px;
    width: 300px;
  }
}