
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
.login_container{
  margin-top: 0px;
}
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.section .imgBx{
  position: relative;
  width: 50%;
  height: 100%;
}
.section .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section .imgBx:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: transparent; */
  /* background: linear-gradient(225deg,rgb(187, 109, 109),rgb(202, 122, 122)); */
}
.section .contentBx{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.section .contentBx .formBx{
  width: 50%;
}
.section .contentBx .formBx h2{
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid rgb(255, 84, 0);
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 5px;
}
.section .contentBx .formBx .inputBx{
  margin-bottom: 20px;
}
.section .contentBx .formBx .inputBx span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  margin-left: 2%;
}
.text_area{
  display: block;
  border: 1px solid #607d8b;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  color: rgb(88, 106, 139);
}
.section .contentBx .formBx .inputBx input{
  width: 100%;
  padding: 8px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 14px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}
.section .contentBx .formBx .inputBx input[type="submit"]{
  background: rgb(255, 84, 0);
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  /* pointer-events: none; */
  margin-top: 10px;
}
.section .contentBx .formBx .inputBx input[type="submit"]:hover{
  background: #242223;
}
.agree{
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 16px;
}

.section .contentBx .formBx .imgBx p{
  color: #607d8b;
}
.section .contentBx .formBx .imgBx p a{
  color: rgb(255, 84, 0);
}

.or{
  display: flex;
  align-items: center;
}
.left{
  height: 2px;
  background-color: #fa9dbe;
  width: 50%;
}
.right{
  height: 2px;
  background-color: #fa9dbe;
  width: 50%;
}
.middle{
  margin: 5px;
}